

#title {
  text-align: center;
  color: #6c7b8b;
}

#control-button {
  width: 681px;
}

#ogfile {
  width: 650px;
  height: 100px;
  margin: 5px auto;
  padding: auto;

  border-left: 1em solid;
  border-color: #4da6ff;

  text-align: center;
  color: #6c7b8b;
  background-color: #e6e4e1;

  -webkit-border-radius: 5px;
  /* support firefox */
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#crfile {
  width: 650px;
  height: 100px;
  margin: 5px auto;
  padding: auto;

  border-left: 1em solid;
  border-color: #0099cc;

  text-align: center;
  color: #6c7b8b;
  background-color: #e6e4e1;

  -webkit-border-radius: 5px;
  /* support firefox */
  -moz-border-radius: 5px;
  border-radius: 5px;
}
